.custom-swiper-pagination {
  position: static !important;
  margin-top: 1.5rem;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width:10px;
  height: 10px;
  background: hwb(240 54% 45%);
  opacity: 1;
  border-radius: 50%;
  margin: 0 6px !important;
  transition: background 0.2s, border 0.2s;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  width:10px;
  height: 10px;
  background: #5197f2;
}
