@import "tailwindcss";




body {
  background: black;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
@keyframes navbar-slide-down {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




@layer utilities {
  .animate-navbar-slide-down {
    animation: navbar-slide-down 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

}






