@import "tailwindcss";

:root {
  --swiper-navigation-size: 20px !important;
}


body {
  background: black;
  color: #ffffff;
  font-family: var(--font-cabin) , sans-serif;
}

button {
  cursor: pointer;
}
@keyframes navbar-slide-down {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




@layer utilities {
  .animate-navbar-slide-down {
    animation: navbar-slide-down 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

}






/* Swiper navigation custom style */
.swiper-button-next,
.swiper-button-prev {
  color: #477BFF;
  border-radius: 9999px;
  background: transparent;
  min-width: 35px;
  min-height: 35px;
  box-shadow: 0 2px 8px #000a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, border-color 0.2s, color 0.2s, transform 0.2s;
  z-index: 10;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 22px;
  color: #477BFF;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #23252C;
  color: #fff;
  border-color: #fff;
}
.swiper-button-prev {
  left: 16px;
  top: 33%;
}
.swiper-button-next {
  right: 16px;
  top: 33%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px;
  color: #477BFF;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #000000;
  color: #fff;
  border-color: #477BFF;  
}

.swiper-pagination {
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 18px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(164, 240, 247, 1);
    border-radius: 15px;
    transition: all 1s;
  }
  .swiper-pagination-bullet-active {
    width: 56px;
    background-color: rgb(38, 140, 224);
    transition: all 1s;
  }